/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127; 
celeste =  #026fff;
*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing:border-box;
}
body{
    font-family: "Source Sans Pro", sans-serif;
}
.container{
    /* padding: 0 20px 0 20px; */
    max-width: 1140px;
    /* max-width: 1000px; */
    width: 95%;
    flex:1; /* Toma todo el ancho disponible dentro del elemento */
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    margin: 0;
    /*font-style: italic;*/
}

h1{
    line-height: 1.50; /*Expresados en porcentaje*/
    font-size: 40px;
    letter-spacing: -.2px;
    /*text-transform: uppercase;*/
    margin:0;
}

h2{
    color: #026fff;
    text-transform:uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}
.active{
    border: 1px solid #fff;
    border-radius: 10px;
}

figure{
    margin:0;
}
/*Menu*/

.burger-btn{
    display:none;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,.8);
    color:white;
    border-radius: 50%;
    font-size: 25px;
    line-height: 40px;
    text-align:center;
    position: fixed;
    z-index: 50;
    left:5px;
    top:5px;
    /* position:sticky; */

}
.header{
    background-color: #1b2127;
    color: #ffffff;
}

.header >div{
    display: flex;
    flex-wrap:wrap; /* Para que no genere el espacio vacio a los lados query */
    align-items: center;
    justify-content: space-between;
    height: 70px;
    
}

 .menu{
    height: inherit;
    transition:0;
 }
.menu ol{
    margin:0;
    list-style: none;
    display: flex;
    height: inherit;
}
nav ol li{
    height: inherit; /*herada el tamaño de alto del elemento padre*/
}
.header a{
    color: #ffffff;
    text-decoration: none;
    padding: 0px 10px;
    height: inherit;
    display: flex;
    align-items: center;
    font-weight: normal;
}


/*Hero*/
.hero{
    background-color: #1b2127;

}

.hero .container{
    height: 300px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap; /* Para que no genere el espacio vacio a los lados query */
    overflow: hidden;

}

.hero .hero-image{
    object-fit: cover;
}
.hero strong{
   color: #026fff;
   letter-spacing: 1.5px;
}

.hero img{
    width:500px;
    
}

/*Portfolio*/
.portfolio{
    background-color: #fafafa; 
}
.portfolio .container{
    padding: 20px;
}

.portfolio, .events {
	border-left: 10px solid #026fff;
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap; /* Para que no genere el espacio vacio a los lados query */

    overflow: hidden;
    border-radius: 20px;
    background: #fff;
    padding: 20px;
    margin-bottom: 15px;  
    /* box-shadow: 3px 2px 6px#dad8d8; */
    box-shadow: 1px 1px 10px 1px lightgray;
}

h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.project  .project-details{
    width:50%;
    font-size: 16px;
} 
.project .project-details h6, p, a{
    margin-bottom: 10px;
    color:#626262;
    font-weight: bold;
    font-size: 16px;
}


.project  .project-details strong{
    font-family: 'Fjalla One', sans-serif;
    color:#3b3b3b;
    margin-right: 10px;
}
.project .project-description{
    line-height: 30px;
    color: #3b3b3b;
    font-size: 20px;
   /*  font-weight: normal; */
}
.project figure{
    width:50%;
}
.project figure img{
width:100%;
}


/*Experiences*/
.events .container{
    margin-top:40px;
    margin-bottom:40px;

}
.events h2{
    margin-left: 20px;
}
.events .container-event{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}

.events .event{
    margin:1%;
    width:48%;
    /* margin: 10px; */
    border-radius: 10px;
    overflow:hidden;
    background: #edf4fa;
    z-index: 0;

    
}

.events .event-detail{
    background: #ffffff;
    margin: -50px 40px 20px 40px;
    position: relative;
    text-align: center;
    padding: 25px 10px;  
}


.events .event-description{
    text-align:left;
}

.events .event-detail a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #026fff;
    border-radius: 5px;
    padding: 5px 20px;
    margin-top:10px;
    color:  #026fff;
}
 .events img{
     width:100%;
     max-height: 300px;
     object-fit: cover;

 }
 .events video{
     width: 100%;
     
     
 }


 /*Contact*/
 .contact{
    background: #056fff;
     
 }
 .contact .container{
    color: #ffffff;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 20px 5px;
    align-items:center;
 }
 .contact h2{
    color:white;
    margin:0;
    font-weight: normal;
    margin:20px 0;
}
 .contact form input{
    display: block;
    margin: 15px 0;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    /*border-style:solid    quita el borde que viene por default*/
 }

 .contact input[type='text']{
     font-weight: bold;
     background-image: url("../img/envelope.svg");
     background-size: 20px 20px;
     background-repeat: no-repeat;
     background-position-x: 10px; 
     background-position-y:center;
     color: #626262;
     padding-left:40px;
 }

 .contact input[type='submit']{
     border: 1px solid white;
     background:transparent;
     color:white;
     font-weight: bold;
     padding: 10px 30px;
 }
 .contact .redes-sociales a{
     display: inline-table;
     text-decoration:none;
     font-weight: normal;
     margin: 5px 10px;
    /*  background-size: 50px 50px; */
 }

 .contact .redes-sociales a i{
     color:white;
     font-size: 2em;
     border: 1px solid white;
     border-radius:100%;
     padding: 10px;
     

 }

 /* .contact .facebook{
    background: url("../img/facebook.svg");
   
 }
 .contact .instagram{
    background: url("../img/instagram.svg");
 }
 .contact .twitter{
    background: url("../img/twitter.svg");
 }
 .contact .github{
    background: url("../img/github.svg");
 } */
/*footer*/
footer{
    background: #1b2127;
}

footer .container{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

footer p{
    margin:0;
}
footer img{
    width: 80px;
    vertical-align: middle; /*Nos serve cuando no se centra los elementos hijos a pesar de usar align-items*/
}

footer a{
    color:#f1f1f1;
}

/* VIDEO DE YOUTUBE RESPONSIVE */
/* Utilizando regla de 3 para las dimensiones en responsive */
/* width  560    height  315
   widht 100     Height    ?  < */
.youtube-video{
position: absolute;
top:0;
bottom:0;
right: 0;
left: 0;
width: 100%;
height: 100%;
/* z-index: 3; */
}
.flexible-video{
    width:100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}