@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?67qfdq');
  src:  url('fonts/icomoon.eot?67qfdq#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?67qfdq') format('truetype'),
    url('fonts/icomoon.woff?67qfdq') format('woff'),
    url('fonts/icomoon.svg?67qfdq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder-upload:before {
  content: "\e91d";
}
.icon-directory:before {
  content: "\e91d";
}
.icon-folder-load:before {
  content: "\e91d";
}
.icon-folder-download:before {
  content: "\e91e";
}
.icon-directory1:before {
  content: "\e91e";
}
.icon-folder-save:before {
  content: "\e91e";
}
.icon-folder-minus:before {
  content: "\e91f";
}
.icon-directory2:before {
  content: "\e91f";
}
.icon-folder-remove:before {
  content: "\e91f";
}
.icon-folder-plus:before {
  content: "\e920";
}
.icon-directory3:before {
  content: "\e920";
}
.icon-folder-add:before {
  content: "\e920";
}
.icon-folder:before {
  content: "\e921";
}
.icon-directory4:before {
  content: "\e921";
}
.icon-category:before {
  content: "\e921";
}
.icon-browse:before {
  content: "\e921";
}
.icon-cross:before {
  content: "\e922";
}
.icon-cancel:before {
  content: "\e922";
}
.icon-close:before {
  content: "\e922";
}
.icon-quit:before {
  content: "\e922";
}
.icon-remove:before {
  content: "\e922";
}
.icon-plus:before {
  content: "\e923";
}
.icon-add:before {
  content: "\e923";
}
.icon-sum:before {
  content: "\e923";
}
.icon-user-tie:before {
  content: "\e924";
}
.icon-user:before {
  content: "\e924";
}
.icon-user-employee:before {
  content: "\e924";
}
.icon-profile:before {
  content: "\e924";
}
.icon-avatar:before {
  content: "\e924";
}
.icon-person:before {
  content: "\e924";
}
.icon-member:before {
  content: "\e924";
}
.icon-job:before {
  content: "\e924";
}
.icon-official:before {
  content: "\e924";
}
.icon-user-check:before {
  content: "\e925";
}
.icon-user1:before {
  content: "\e925";
}
.icon-user-tick:before {
  content: "\e925";
}
.icon-profile1:before {
  content: "\e925";
}
.icon-avatar1:before {
  content: "\e925";
}
.icon-person1:before {
  content: "\e925";
}
.icon-member1:before {
  content: "\e925";
}
.icon-user-plus:before {
  content: "\e926";
}
.icon-user2:before {
  content: "\e926";
}
.icon-user-add:before {
  content: "\e926";
}
.icon-profile2:before {
  content: "\e926";
}
.icon-avatar2:before {
  content: "\e926";
}
.icon-person2:before {
  content: "\e926";
}
.icon-member2:before {
  content: "\e926";
}
.icon-user3:before {
  content: "\e927";
}
.icon-profile3:before {
  content: "\e927";
}
.icon-avatar3:before {
  content: "\e927";
}
.icon-person3:before {
  content: "\e927";
}
.icon-member3:before {
  content: "\e927";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-right:before {
  content: "\e901";
}
.icon-next:before {
  content: "\e901";
}
.icon-arrow-right1:before {
  content: "\e902";
}
.icon-right1:before {
  content: "\e902";
}
.icon-next1:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-left:before {
  content: "\e903";
}
.icon-previous:before {
  content: "\e903";
}
.icon-arrow-left1:before {
  content: "\e904";
}
.icon-left1:before {
  content: "\e904";
}
.icon-previous1:before {
  content: "\e904";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-down:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e905";
}
.icon-bottom:before {
  content: "\e905";
}
.icon-arrow-down1:before {
  content: "\e906";
}
.icon-down1:before {
  content: "\e906";
}
.icon-download1:before {
  content: "\e906";
}
.icon-bottom1:before {
  content: "\e906";
}
.icon-arrow-up:before {
  content: "\e907";
}
.icon-up:before {
  content: "\e907";
}
.icon-upload:before {
  content: "\e907";
}
.icon-top:before {
  content: "\e907";
}
.icon-arrow-up1:before {
  content: "\e908";
}
.icon-up1:before {
  content: "\e908";
}
.icon-upload1:before {
  content: "\e908";
}
.icon-top1:before {
  content: "\e908";
}
.icon-circle-left:before {
  content: "\e909";
}
.icon-left2:before {
  content: "\e909";
}
.icon-circle-previous:before {
  content: "\e909";
}
.icon-arrow:before {
  content: "\e909";
}
.icon-circle-down:before {
  content: "\e90a";
}
.icon-down2:before {
  content: "\e90a";
}
.icon-circle-bottom:before {
  content: "\e90a";
}
.icon-arrow1:before {
  content: "\e90a";
}
.icon-circle-right:before {
  content: "\e90b";
}
.icon-right2:before {
  content: "\e90b";
}
.icon-circle-next:before {
  content: "\e90b";
}
.icon-arrow2:before {
  content: "\e90b";
}
.icon-circle-up:before {
  content: "\e90c";
}
.icon-up2:before {
  content: "\e90c";
}
.icon-circle-top:before {
  content: "\e90c";
}
.icon-arrow3:before {
  content: "\e90c";
}
.icon-pinterest:before {
  content: "\e90d";
}
.icon-brand:before {
  content: "\e90d";
}
.icon-social:before {
  content: "\e90d";
}
.icon-pinterest1:before {
  content: "\e90e";
}
.icon-brand1:before {
  content: "\e90e";
}
.icon-social1:before {
  content: "\e90e";
}
.icon-linkedin:before {
  content: "\e90f";
}
.icon-brand2:before {
  content: "\e90f";
}
.icon-social2:before {
  content: "\e90f";
}
.icon-linkedin1:before {
  content: "\e910";
}
.icon-brand3:before {
  content: "\e910";
}
.icon-social3:before {
  content: "\e910";
}
.icon-wordpress:before {
  content: "\e911";
}
.icon-brand4:before {
  content: "\e911";
}
.icon-social4:before {
  content: "\e911";
}
.icon-cms:before {
  content: "\e911";
}
.icon-youtube:before {
  content: "\e912";
}
.icon-brand5:before {
  content: "\e912";
}
.icon-social5:before {
  content: "\e912";
}
.icon-twitter:before {
  content: "\e913";
}
.icon-brand6:before {
  content: "\e913";
}
.icon-tweet:before {
  content: "\e913";
}
.icon-social6:before {
  content: "\e913";
}
.icon-whatsapp:before {
  content: "\e914";
}
.icon-brand7:before {
  content: "\e914";
}
.icon-social7:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-brand8:before {
  content: "\e915";
}
.icon-social8:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-brand9:before {
  content: "\e916";
}
.icon-social9:before {
  content: "\e916";
}
.icon-facebook1:before {
  content: "\e917";
}
.icon-brand10:before {
  content: "\e917";
}
.icon-social10:before {
  content: "\e917";
}
.icon-google-plus:before {
  content: "\e918";
}
.icon-brand11:before {
  content: "\e918";
}
.icon-social11:before {
  content: "\e918";
}
.icon-google-plus1:before {
  content: "\e919";
}
.icon-brand12:before {
  content: "\e919";
}
.icon-social12:before {
  content: "\e919";
}
.icon-google-plus2:before {
  content: "\e91a";
}
.icon-brand13:before {
  content: "\e91a";
}
.icon-social13:before {
  content: "\e91a";
}
.icon-mail:before {
  content: "\e91b";
}
.icon-contact:before {
  content: "\e91b";
}
.icon-support:before {
  content: "\e91b";
}
.icon-newsletter:before {
  content: "\e91b";
}
.icon-letter:before {
  content: "\e91b";
}
.icon-email:before {
  content: "\e91b";
}
.icon-envelop:before {
  content: "\e91b";
}
.icon-social14:before {
  content: "\e91b";
}
.icon-mail1:before {
  content: "\e91c";
}
.icon-contact1:before {
  content: "\e91c";
}
.icon-support1:before {
  content: "\e91c";
}
.icon-newsletter1:before {
  content: "\e91c";
}
.icon-letter1:before {
  content: "\e91c";
}
.icon-email1:before {
  content: "\e91c";
}
.icon-envelop1:before {
  content: "\e91c";
}
.icon-social15:before {
  content: "\e91c";
}
.icon-menu:before {
  content: "\e900";
}
.icon-list:before {
  content: "\e900";
}
.icon-options:before {
  content: "\e900";
}
.icon-lines:before {
  content: "\e900";
}
.icon-hamburger:before {
  content: "\e900";
}
